<li>
	{{burger_name}} {{#if devoured}}

	<button class="change-devoured btn waves-effect waves-light red" data-id="{{id}}" data-newdevoured="{{devoured}}">
		DEVOUR!<i class="material-icons right">local_dining</i></button>
		{{/if}}
</li>